@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Poppins:wght@200&display=swap');

.container-fluid{
padding: 1rem 5rem;
/* position: relative; */

}
.cover{
  width: 500px;
  height: 500px;
  opacity: 0.6;
}
h1{
  font-family: 'DM Sans', sans-serif;
  text-align: center;
  padding: 5rem 0;
  font-size: 3.5rem;
  white-space: nowrap;
  font-weight: 700;
  
}
p{
  padding: 5rem 0;
  line-height: 2.5rem;
  font-family: 'Poppins', sans-serif;
  position: relative;
  font-weight: 500;
}
h2{
  font-family: 'DM Sans', sans-serif;
  padding-bottom: -2rem;
}
.circle1{
  width: 200px;
  height: 200px;
  background-color: #54E346;
  opacity: 0.7;
  border-radius: 100%;
  position: absolute;
  left: 21rem;
  top: 7rem;
}
.circle2{
  width: 50px;
  height: 50px;
  background-color: #54E346;
  border-radius: 100%;
  position: absolute;
  left: 19rem;
  top: 18rem;
}
.btn{
  margin: 5rem;
  }
.view{
  padding: 1rem 2rem;
  border: none;
  border-color: none;
  border-radius: 20px;
  background-color: #54E346;
  color: white;
  outline: none;
  transition: all 0.5s ease;
  }
  .view:hover{
   box-shadow:
    6px 6px 6px #2e2f30,
    -6px -6px 6px #cbced1;
    border: 1px solid #54E346;
    color: black;
    background-color: white;
    cursor: pointer;

  }
